# Entornos locales e intermedios
__pycache__/
.env
.venv/
venv/
env/

# Informes y cachés de testing
.pytest_cache/
tests/logs/

# Git
.git/
.gitignore

# Extensiones irrelevantes
*.pyc
*.pyo
*.pyd

# Workspace
.vscode/
